body {
    background-image: url(baggrund%202.png);
    background-repeat: repeat;
    background-size: 100%;

}

li {
    float: left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    background: rgba(104, 189, 224, 0.48);
    width: 100%;
}

li a {
    display: block;
    color: #4e4a4a;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}

li a:hover {
    background-color: rgba(107, 178, 216, 0.62);
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}

/*
.center1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}
*/

nav a {
    font-family: 'Shadows Into Light', cursive;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 2.0em;

}

nav ul {

    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    list-style: none;
    margin: 9px;
}

nav ul img {
    width: 90px;
    height: 90px;
    padding-right: 1em;
    margin-left: 0.5em;
    margin-top: 0.5em;


}

nav ul li {

    position: relative;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    margin-top: 1em;
}

.dropdown > ul {
    display: none;
    position: absolute;
    background-color: rgba(104, 189, 224, 0.9);
    ;
    /*    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);*/
    padding: 1px 1px;
    z-index: 1;

}

.dropdown > ul li {
    white-space: nowrap;

    font-size: 1em;
}


.dropdown:hover > ul {
    display: block;


}

h1 {
    font-family: 'Shadows Into Light', cursive;
    color: rgba(107, 178, 216, 0.62);
    margin-left: 12px;
    font-size: 2.5em;
}

h2 {
    font-family: 'Shadows Into Light', cursive;
    color: skyblue;
    margin-left: 12px;
    font-size: 2.0em;
}

p {
    font-family: 'Open Sans', sans-serif;
    color: #2d92b2;
    margin-left: 12px;
}

a {
    font-family: 'Open Sans', sans-serif;
    color: #2d92b2;
    margin-left: 12px;
}

.tema1 {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.billede {
    flex-basis: 400px;
    flex-grow: 1;

}

.moodboard {
    flex-basis: 300px;
    flex-grow: 1;
}

.ikonimg {
    flex-basis: 400px;
    flex-grow: 1;
    margin-top: 10px;
}

.ikontxt {
    flex-basis: 200px;
    flex-grow: 1;
}

.links {
    display: flex;
    flex-wrap: wrap;
}

.tema {
    flex-basis: 500px;
    flex-grow: 1;
}

/*
.tema {
    border-radius: 25px;
    background: skyblue;
    padding: 20px;
    width: 50%;
    height: 200px;
    margin: 10px;

}
*/

.tema img {
    width: 50%;

}

.tema img {
    border: 15px solid skyblue;
    border-radius: 4px;
    padding: 5px;
    width: 400px;
    margin-left: 60px;
    margin-right: 20px;

}

.tema img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.cv {
    display: flex;
    flex-wrap: wrap;
}

.cvbillede {
    flex-basis: 200px;
    flex-grow: 1;
    margin-right: 50px;
}

.cvtxt {
    flex-basis: 500px;
    flex-grow: 1;
}

.animation {
    display: flex;
    flex-wrap: wrap;
}

.animation txt {
    flex-basis: 500px;
    flex-grow: 1;
}

.animationimg {
    flex-basis: 500px;
    flex-grow: 1;
}
